<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>{% block title "Titre de page" %}</title>
</head>
<body>
    <header>
        <label>Site Agl</label>
        <nav>
            <ul>
                <li><a href="{{ (router.getRoute('user.index')).getPath() }}">Accueil</a></li>
                <li><a href="{{ (router.getRoute('user.account')).getPath() }}">Compte</a></li>
                <li><a href="{{ (router.getRoute('user.logout')).getPath() }}">Déconnexion</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}
        <h1>Corps de page</h1>
        {% endblock %}
    </div>
    <footer>

    </footer>
</body>
</html>